.footer{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: rgb(var(--primary-color));
    padding: 15px 49px;
}


.footer__container{
    width: 100%;
    max-width: 1120px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 10px;
}

.footer__legal{
    display: flex;
    gap: 24px;
    color: rgb(var(--secondary-color));
}

.footer__info{
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.footer__logo{
    display: flex;
    align-items: center;
    gap: 14px;
}


.footer__logo-img{
    width: 100px;
    height: auto;
}

.footer__logo-title{
    color: rgb(var(--secondary-color));
    font-size: var(--subheadline-font-size);
}
   

.footer__socials{
width: 100%;
display: flex;
justify-content: space-between;
}

foooter__social-link{
    display: flex;
    align-items: center;
    gap: 10px;
}

